<a href="https://colab.research.google.com/github/SpectreB/Python-class/blob/main/course8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#nested dictionnary
dict = { 1: 'Geeks', 2 : 'For',
        3 : {'A': 'Welcome', 'B': 'To', 'C' :'Geeks'}}
print(dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [ ]:
dict1 = { 1: 'Geeks', 2 : 'For' }
dict2 = ([1, 'Greeks'],[2,'For'])
print(dict1)
print(dict2)

{1: 'Geeks', 2: 'For'}
([1, 'Greeks'], [2, 'For'])

In [ ]:
my_list = { 1: 'Hello', "Hi": 25, "Howdy": 100}
print(1 in my_list)
print("Howdy" not in my_list)
print("Hello" in my_list)

True
False
False

In [ ]:
for keys in my_list.keys() :
  print(keys)
for values in my_list.values() :
  print(values)

1
Hi
Howdy
Hello
25
100

In [ ]:
list1={1 , 2 ,3 }
Tuple1=tuple(list1)
list2={4 , 5 ,6 }
Tuple2=tuple(list2)
dict={}
for i in range (len(list1)) :
  key=Tuple1[i]
  value=Tuple2[i]
  dict[key]=value
print (dict)

{1: 4, 2: 5, 3: 6}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
employees =['Kelly', 'Emma']
defaults ={'designation', 'Developer', 'Salary'}
res=dict.fromkeys(employees, defaults)
print(res)
print(res['Kelly'])

{'Kelly': {'designation', 'Salary', 'Developer'}, 'Emma': {'designation', 'Salary', 'Developer'}}
{'designation', 'Salary', 'Developer'}

In [ ]:
sample_dict = {'a': 100, 'b':200, 'c':300}
for i in range (len(sample_dict)) :
  if (sample_dict.keys()=='200'):
    print (True)
print(False)

dict_keys(['a', 'b', 'c'])
dict_keys(['a', 'b', 'c'])
dict_keys(['a', 'b', 'c'])
False

In [1]:
keys=('Ten','Twenty','Thirty')
values=(10,20,30)
res_dict=dict(zip(keys,values)) #permet d'Ã©crir qu'un seul tuple au lie des tous les 3 , la fonction formkey
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [2]:
dict1={'Ten':10, 'Twenty': 20, 'Thirty':30}
dict2={'Thirty':30, 'Forty': 40, 'Fifty':50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

In [3]:
employees=['Kelly','Emma']
default={"designation":'Developer',"Salary":8000}
res=dict.fromkeys(employees,default)
print(res)

{'Kelly': {'designation': 'Developer', 'Salary': 8000}, 'Emma': {'designation': 'Developer', 'Salary': 8000}}

In [4]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "Salary":8000,
    "city":"New York"
    }

sample_dict.pop("name")
sample_dict.pop("Salary")
print(sample_dict)

{'age': 25, 'city': 'New York'}

In [5]:
Dict={"Dict1":{1:'Geeks'},
      'Dict2':{"Name":'For'}}

print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

In [7]:
country_capitals={
"United states" : "Washington D.C",
"Italy":"Rome",
"England":"London"
}
print(country_capitals)

country_capitals={
"United states" : "Washington D.C",
"Italy":"Rome",
"England":"London"
}
print(country_capitals["Italy"])


country_capitals={
"United states" : "Washington D.C",
"Italy":"Rome",
"England":"London"
}

del country_capitals["United states"]
print (country_capitals)

{'United states': 'Washington D.C', 'Italy': 'Rome', 'England': 'London'}
Rome
{'Italy': 'Rome', 'England': 'London'}